@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --hubfolio-primary: #222325;
  --hubfolio-secondary: #F6F8FF;
  --hubfolio-primary-light: #36373A;
  --hubfolio-secondary-dark: #E9EBF2;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
